<div class="row no-margin-bottom bg-light">
  <div class="row margin-both-2">
    <div class="row no-margin-bottom card" style="padding:24px">
      <div class="row no-margin-bottom">
        <div class="input-field col s3 margin-top-0">
          <input #custNameInput autocomplete="off" *ngIf="!salesHeader.customerValid" type="text" id="customer-name"
            (keydown)="showLovModal($event,'Customer',-2)" [value]="salesHeader.customerName">
          <input autocomplete="off" class="width-90" readonly *ngIf="salesHeader.customerValid" type="text"
            id="customer-name" [value]="salesHeader.customerName" [readOnly]="salesHeader.id">
          <label for="customer-name"
            [ngClass]="{'actives': (salesHeader.customerName != null && salesHeader.customerName != '')}">Customer
            Name</label>
          <span style="width:10%" *ngIf="salesHeader.customerValid"><i class="material-icons gray pointer"
              (click)="clearCustomerDetails()">close</i></span>
        </div>
        <div class="input-field col s3 margin-top-0">
          <input autocomplete="off" #invoiceNoInput type="text" id="invoice-no" (input)="checkInvoiceNo($event)"
            [value]="salesHeader.invoiceNo?salesHeader.invoiceNo:''" [readOnly]="salesHeader.id">
          <label for="invoice-no"
            [ngClass]="{'actives': (salesHeader.invoiceNo != '' && salesHeader.invoiceNo != null)}">Invoice No</label>
        </div>
        <div class="input-field col s3 margin-top-0">
          <input autocomplete="off" type="text" class="datepicker" materialize="pickadate"
            [materializeParams]="invoiceDatePickerParams" [value]="salesHeader.invoiceDate | date:'dd/MM/yyyy'"
            (input)="setInvoiceDate($event)" [readOnly]="salesHeader.id">
          <label for="invoice-date" [ngClass]="{'actives': salesHeader.invoiceDate != null}">Invoice Date</label>
        </div>
        <div class="col s3" *ngIf="paymentTypeShow && salesHeader.id == null">
          <select materialize="material_select" [value]="salesHeader.paymentType" (change)="setPaymentType($event)">
            <option value="" disabled selected>Payment Type </option>
            <option value="0">Credit</option>
            <option value="1">Cash</option>
            <option value="2">Cheque</option>
          </select>
        </div>
        <div class="input-field col s3 margin-top-0" *ngIf="salesHeader.id">
          <input readOnly type="text" class="pointer" id="p-type" (click)="showChq()"
            [value]="salesHeader.paymentType == 0? 'Credit':salesHeader.paymentType == 1?'Cash':'Cheque'">
          <label for="p-type" class="active">Payment type</label>
        </div>
      </div>
      <div class="row no-margin-bottom">
        <div class="input-field col s3 margin-zero">
          <input autocomplete="off" id="gstNo" type="text" readonly
            [value]="salesHeader.customerGSTNo?salesHeader.customerGSTNo:''" class="margin-zero">
          <label for="gstNo"
            [ngClass]="{'actives' : (salesHeader.customerGSTNo != null && salesHeader.customerGSTNo != '')}">Customer
            GST-No</label>
        </div>
        <div class="col s6 nopad">
          <div class="input-field col s4 margin-zero">
            <input autocomplete="off" id="customerAmt" type="number" readonly [value]="salesHeader.customerAmt"
              class="margin-zero"
              [ngClass]="{'red-text': (salesHeader.customerAmt && salesHeader.customerAmt < 0) ,'green-text': (salesHeader.customerAmt && salesHeader.customerAmt > 0)}">
            <label for="customerAmt" [ngClass]="{'actives' : (salesHeader.customerAmt != null )}">Customer
              Amount</label>
          </div>
          <div class="input-field col s4 margin-zero">
            <input autocomplete="off" id="taxAmt" type="number" readonly [value]="salesHeader.taxAmt"
              class="margin-zero">
            <label for="taxAmt" [ngClass]="{'actives' : (salesHeader.taxAmt != null )}">Tax Amount</label>
          </div>
          <div class="input-field col s4 margin-zero">
            <input autocomplete="off" id="netAmt" type="number" readonly [value]="salesHeader.netAmt"
              class="margin-zero">
            <label for="netAmt" [ngClass]="{'actives' : (salesHeader.netAmt != null )}">Net Amount</label>
          </div>
        </div>
        <div class="col s3">
          <div class="input-field col s6 margin-zero" style="padding-left:0">
            <input #otherChargesInput autocomplete="off" id="otherCharges" type="text"
              [value]="salesHeader.otherCharges" class="margin-zero" (input)="checkNumberValue($event,'otherCharges')"
              [readOnly]="salesHeader.id">
            <label class="left-zero" for="otherCharges"
              [ngClass]="{'actives' : (salesHeader.otherCharges != null )}">Other
              Charges</label>
          </div>
          <div class="input-field col s6 nopad margin-zero">
            <input #paidAmtInput autocomplete="off" id="paidAmt" type="text"
              [readonly]="salesHeader.paymentType != 1 || salesHeader.id" [value]="salesHeader.paidAmt"
              class="margin-zero" (input)="checkNumberValue($event,'paidAmt')">
            <label class="left-zero" for="paidAmt" [ngClass]="{'actives' : (salesHeader.paidAmt != null )}">Paid
              Amount</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card margin-both-2 item-card">
    <div class="row  table-hdr margin-zero center-align valign-wrapper">
      <div class="col s11 nopad" style="width:97.5%">
        <div class="col s4 nopad">
          <div class="col s3 nopad">
            CODE
          </div>
          <div class=" col s8">
            NAME
          </div>
        </div>
        <div class="col s3 nopad">
          <div class="col s6">
            QUANTITY
          </div>
          <div class="col s6">
            SELLING PRICE
          </div>
        </div>
        <div class="col s3 nopad">
          <div class="col s4">
            HSNCODE
          </div>
          <div class="col s4">
            TAX %
          </div>
          <div class="col s4">
            PACKING
          </div>
        </div>
        <div class="col s1">
          TOTAL
        </div>
        <div class="col s1">
          NET AMT
        </div>
      </div>
      <div class="col s1 nopad center-align" style="width:2.5%">
        <i class="material-icons pointer" [ngClass]="{'disabled' : salesHeader.id}" (click)="addItem()">add</i>
      </div>
    </div>
    <div class="row margin-zero" style="height:50vh;overflow-y:auto;">
      <div class="row no-margin-bottom table-dtl" *ngFor="let item of salesDetails;let rowIndex = index">
        <div class="col s11 nopad" style="width:97.5%">
          <div class="col s4 nopad">
            <div class="col s3 nopad">
              <input autocomplete="off" #itemCodeInputs type="text" [value]="item.itemCode" class="input-design"
                (keydown)="showItemLovModal($event,'itemsSales',rowIndex)" [readOnly]="salesHeader.id">
            </div>
            <div class=" col s9">
              <input autocomplete="off" type="text" readonly class="input-design" [value]="item.itemName">
            </div>
          </div>
          <div class="col s3 nopad">
            <div class="col s6">
              <input autocomplete="off" #quantityInputs
                [readOnly]="!salesHeader.customerValid || !item.itemName || salesHeader.id" type="text"
                class="input-design" [value]="item.quantity"
                (input)="checkField(rowIndex,$event,'numberwith2DecimalRegex','quantity')"
                (blur)="checkValue('quantityInputs',$event,rowIndex)" (keypress)="addRow($event)">
            </div>
            <div class="col s6">
              <input autocomplete="off" #spInputs type="number" (blur)="checkValue('spInputs',$event,rowIndex)"
                [readOnly]="!salesHeader.customerValid || salesHeader.id" class="input-design" [value]="item.sp"
                (input)="checkField(rowIndex,$event,'numberwith2DecimalRegex','sp')" (keypress)="addRow($event)">
            </div>
          </div>
          <div class="col s3 nopad">
            <div class="col s4">
              <input autocomplete="off" type="text" class="input-design" maxlength="6" [(ngModel)]="item.hsncode">
            </div>
            <div class="col s4">
              <input autocomplete="off" type="number" (keydown.enter)="removeTax(rowIndex)" [readOnly]="salesHeader.id"
                (input)="removeTax(rowIndex)" class="input-design" maxlength="1" [value]="item.taxPercentage">
            </div>
            <div class="col s4">
              <input #unitInputs autocomplete="off"
                (input)="checkField(rowIndex,$event,'numberwith2DecimalRegex','unit')"
                [readOnly]="!salesHeader.customerValid || !item.itemName || salesHeader.id" type="text"
                class="input-design" [value]="item.unit?item.unit:''">
            </div>
          </div>
          <div class="col s1">
            <input autocomplete="off" type="number" readonly class="input-design" [value]="item.totalUnit">
          </div>
          <div class="col s1">
            <input autocomplete="off" type="number" readonly class="input-design" [value]="item.netAmt">
          </div>
        </div>
        <div class="col s1 nopad center-align" style="width:2.5%">
          <i class="material-icons pointer" [ngClass]="{'disabled' : salesHeader.id}" style="color:gray;"
            (click)="deleteItem(rowIndex)">delete_forever</i>
        </div>
      </div>
    </div>
  </div>
  <div class="row margin-both-2">
    <div class="col s2 offset-s6">
      <a class="hollowgreybutton" *ngIf="salesHeader.id" (click)="deleteModal()">Delete</a>
    </div>
    <div class="col s2">
      <a class="hollowgreybutton" (click)="clearProcess()"> CLEAR</a>
    </div>
    <div class="col s2" style="padding-left:1.5rem;padding-right:0">
      <a class="thickdarkbluebutton" (click)="endProcess()">{{salesHeader.id? 'Print':'Submit'}}</a>
    </div>
  </div>
  <div id="modal1" class="modal" style="width:36%;" materialize="modal" [materializeActions]="chqModalAction"
    [materializeParams]="chqModalParams">
    <div class="modal-header-second">
      <h5 class="modal-header-title" style="display:inline-block;">Cheque details</h5>
    </div>
    <div class="modal-content">
      <div class="row no-margin-bottom">
        <div class="input-field col s12 margin-top-0 ">
          <input autocomplete="off" [readOnly]="salesHeader.id" type="text" id="bank-name" class="margin-zero"
            [(ngModel)]="salesHeader.chqBank">
          <label for="bank-name" [ngClass]="{'actives' : salesHeader.chqBank}">Bank Name</label>
        </div>
      </div>
      <div class="row no-margin-bottom">
        <div class="input-field col s12 ">
          <input autocomplete="off" autocomplete="off" maxlength="6" id="chNo" type="text"
            [(ngModel)]="salesHeader.chqNo" class="margin-zero" [readOnly]="salesHeader.id">
          <label for="chNo" [ngClass]="{'actives' : salesHeader.chqNo}">Cheque No</label>
        </div>
      </div>
      <div class="row no-margin-bottom">
        <div class="input-field col s12">
          <input autocomplete="off" type="date" min="2018-01-01" (keydown)="false" max="2050-01-01"
            [(ngModel)]="salesHeader.chqDate" class="margin-zero" [readOnly]="salesHeader.id">
        </div>
      </div>
      <div class="row no-margin-bottom">
        <div class="input-field col s12 ">
          <input autocomplete="off" autocomplete="off" id="chqAmt" type="text"
            [value]="salesHeader.chqAmt?salesHeader.chqAmt:''" (input)="checkNumberValue($event,'chqAmt')"
            class="margin-zero" maxlength="10" [readOnly]="salesHeader.id">
          <label [ngClass]="{'actives' : salesHeader.chqAmt}" id="chqAmt" for="chNo">Cheque Amount</label>
        </div>
      </div>
    </div>
    <div class="modal-footer" style="border-top:1px solid rgba(0,0,0,0.1)">
      <a #clearChqButton class="modal-action modal-close  btn-flat"
        (click)="clearChqDetails()">{{salesHeader.id?'Close':'Cancel'}}</a>
      <a #saveChqButton [ngClass]="{'disabled' : salesHeader.id}" class="modal-action  btn-flat"
        (click)="saveChqDetails()">Save</a>
    </div>
  </div>
  <div id="modal2" class="modal" [ngClass]="{'modal-fixed-footer hide-y':without}" materialize="modal"
    [materializeActions]="confirmationModal" [materializeParams]="without?'':confirmationModalParams">
    <div class="modal-header-second">
      <h5 class="modal-header-title" style="display:inline-block;padding-top:2.4%;padding-bottom: 2.4%">
        {{confimationModalHeader}}</h5>
    </div>
    <div class="modal-content row no-margin-bottom">
      <div *ngIf="confimationModalHeader != 'Delete' && !without">
        Are you sure want to {{confimationModalHeader.toLowerCase()}} ?
      </div>
      <div class="input-field col s12 margin-top-0" *ngIf="confimationModalHeader == 'Delete'">
        <input id="first_name" type="text" class="validate" [(ngModel)]="deletePwd">
        <label for="first_name">Enter password</label>
      </div>
      <div class="input-field col s12 margin-top-0" *ngIf="confimationModalHeader != 'Delete' && without">
        <select materialize="material_select" (change)="setCompanyInfo($event.target.value)">
          <option value="" disabled selected>Choose your company ? </option>
          <option value="1">Shaalini Traders</option>
          <option value="2">Shanthini Entterprises</option>
        </select>
      </div>
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close btn-flat">No</a>
      <a class="modal-action modal-close  btn-flat" (click)="yesButtonProcess()">Yes</a>
    </div>
  </div>
</div>
<generic-lov></generic-lov>
<div id="bill" *ngIf="billShow" style="color:black;width: 210mm;height: 297mm;padding: 16px;font-size: .9rem;">
  <div class="row no-margin-bottom" style="border:1px solid black">
    <div class="row no-margin-bottom center-align bill-hdr">
      <div style="margin-top: .3rem;">
        <div class="col s6 offset-s3" style="font-size:.75rem;margin-top:.4rem;">
          Sri Ayyanar Thunai
        </div>
        <div class="col s3">
          <div _ngcontent-c2="" class="col s12 right-align valign-wrapper pad-left-38">
            <i class="material-icons phone">phone</i>
            {{companyInfo.mb1}}</div>
          <div _ngcontent-c2="" class="col s12 right-align valign-wrapper pad-left-38">
            <i class="material-icons phone">phone</i>
            {{companyInfo.mb2}}</div>
        </div>
      </div>
      <h4 style="font-weight:500;margin-top:0;text-transform: uppercase">{{companyInfo.name}}</h4>
      <div>
        Factory: No.2, Lotus Colony, 3rd Street, Thattankulam Road, Madhavaram, Chennai-60
      </div>
      <div>
        Office: 7/14, Samy Nagar, 2nd Cross Street,Madhavaram, Chennai-60
      </div>
      <div>
        Email: {{companyInfo.email}}
      </div>
    </div>
    <div class="row no-margin-bottom bill-sub-hdr "
      style="font-weight:bold;border-top: 1px solid black;border-bottom: 1px solid black;">
      <div class="col s3">
        State Code
      </div>
      <div class="col s1 nopad">
        <div class="col s6" style="border-left:1px solid black">
          3
        </div>
        <div class="col s6" style="border-left:1px solid black">
          3
        </div>
      </div>
      <div class="col s4 center-align" style="border-left:1px solid black">
        Sales Invoice
      </div>
      <div class="col s4 right-align" style="border-left:1px solid black">
        GSTIN: {{companyInfo.gst}}
      </div>
    </div>
    <div class="row no-margin-bottom bill-customer-dtl" style="border-bottom: 1px solid;">
      <div class="col s6" style="padding: 8px;font-size:.95rem;">
        <div style="font-weight:bold;font-size: .9rem;">Customer Details:</div>
        <div>{{salesHeader.customerName}}</div>
        <div>{{salesHeader.customerAddress}}</div>
        <div style="font-weight:bold;font-size: .9rem;">GSTIN: {{salesHeader.customerGSTNo}}</div>
      </div>
      <div class="col s6" style="padding: 8px;border-left: 1px solid black;padding-bottom: 1.1rem;">
        <div class="col s12">
          <p class="para">Invoice No: {{salesHeader.invoiceNo}} </p>
        </div>
        <div class="col s7">Sales under from: GST sales</div>
        <div class="col s5">Date: {{salesHeader.invoiceDate | date : 'dd/MM/yyyy'}}</div>
        <div class="col s12">
          <p class="para">Dispatch details :</p>
        </div>
        <div class="col s12">Place of supply: Chennai</div>
      </div>
    </div>
    <div class="row no-margin-bottom center-align bill-table-hdr" style="border-bottom: 1px solid black;">
      <div class="col s1" style="padding: 8px;">S.No.</div>
      <div class="col s5" style="padding: 8px;border-left: 1px solid black">Description of Goods</div>
      <div class="col s2" style="padding: 8px;border-left: 1px solid black">HSN Code</div>
      <div class="col s4 nopad">
        <div class="col s3" style="padding: 8px;border-left: 1px solid black">Qty</div>
        <div class="col s3" style="padding: 8px;border-left: 1px solid black">Rate</div>
        <div class="col s6" style="padding: 8px;border-left: 1px solid black">Total</div>
      </div>
    </div>
    <div class="row center-align no-margin-bottom">
      <div class="col s1 bill-dtl">
        <div class="col s12 nopad bill-item-dtl" *ngFor="let item of salesDetails;let _index = index">
          {{_index + 1}}
        </div>
      </div>
      <div class="col s5 left-align bill-dtl left-bdr">
        <div class="col s12 nopad bill-item-dtl" style="text-transform: uppercase"
          *ngFor="let item of salesDetails;let _index = index">
          {{item.itemName}}
          <br>( {{item.quantity}} X {{item.unit}} )
        </div>
      </div>
      <div class="col s2 bill-dtl left-bdr">
        <div class="col s12 nopad bill-item-dtl" *ngFor="let item of salesDetails;let _index = index">
          {{item.hsncode}}
        </div>
      </div>
      <div class="col s4 nopad">
        <div class="col s3 bill-dtl left-bdr">
          <div class="col s12 nopad bill-item-dtl" *ngFor="let item of salesDetails;">
            {{item.totalUnit}}
          </div>
        </div>
        <div class="col s3 bill-dtl left-bdr">
          <div class="col s12 nopad bill-item-dtl" *ngFor="let item of salesDetails;let _index = index">
            {{item.sp}}
          </div>
        </div>
        <div class="col s6 right-align bill-dtl left-bdr">
          <div class="col s12 nopad bill-item-dtl" *ngFor="let item of salesDetails;let _index = index">
            {{roundOff(item.netAmt - item.sgstAmt - item.cgstAmt - item.igstAmt)}}
          </div>
        </div>
      </div>
    </div>
    <div class="row no-margin-bottom bill-table-footer"
      style="border-top: 1px solid black;border-bottom: 1px solid black;">
      <div class="col s7" style="padding-top: 8px;padding-bottom: 8px">
        <div style="padding-bottom:2%">Invoice amount in words: <span
            style="font-weight: bold">{{salesHeader.netAmt | numberToWords}} only</span></div>
        <div><u>Terms & Conditions</u></div>
        <div>1.Interest @24% P.A will be charged immediately after the due date</div>
        <div>2.Our risk responsibly ceases after delivery of the goods</div>
        <div>3.Good once sold canot be taken back or exchanged</div>
        <div>4.Subject to chennai jurisdiction</div>
      </div>
      <div class="col s5 center-align" style="padding-right:0">
        <div class="col s6 total-left">Total </div>
        <div class="col s6 right-align total-right">{{roundOff(salesHeader.netAmt - salesHeader.taxAmt)}}</div>
        <div class="col s6 total-left">CGST @ {{salesDetails[0].cgst_perc}}%</div>
        <div class="col s6 right-align total-right">{{getCgstAmt()}}</div>
        <div class="col s6 total-left">SGST @ {{salesDetails[0].sgst_perc}}%</div>
        <div class="col s6 right-align total-right">{{getSgstAmt()}}</div>
        <div class="col s6 total-left">IGST @ {{salesDetails[0].igst_perc}}%</div>
        <div class="col s6 right-align total-right">{{getIgstAmt()}}</div>
        <div class="col s6 total-left">Other Charges</div>
        <div class="col s6 right-align total-right">{{salesHeader.otherCharges}}</div>
        <div class="col s6 total">Total with tax</div>
        <div class="col s6 right-align total">{{salesHeader.netAmt}}</div>
      </div>
    </div>
    <div class="row no-margin-bottom bill-footer" style="padding:8px">
      <div class="col s7 nopad" style="font-weight:bold">
        <div><u>Bank Details</u></div>
        <div class="col s3 nopad">Bank Name <span style="float:right">:</span> </div>
        <div class="col s9">{{companyInfo.bankName}}</div>
        <div class="col s3 nopad">Bank A/c No <span style="float:right">:</span> </div>
        <div class="col s9">{{companyInfo.bankNo}}</div>
        <div class="col s3 nopad">IFSC Code<span style="float:right">:</span> </div>
        <div class="col s9">{{companyInfo.ifsc}}</div>
        <div class="col s3 nopad">Branch <span style="float:right">:</span> </div>
        <div class="col s9">{{companyInfo.bankAddress}}</div>
      </div>
      <div class="col s5 right-align">
        <div>
          <h5 style="font-size: 1.2rem;font-weight: 500"><span style="font-size:1rem;">For </span>{{companyInfo.name}}
          </h5>
        </div>
        <div style="    height: 3rem;"></div>
        <div>Authorised signatory</div>
      </div>
    </div>
  </div>
</div>