<div class="container">
  <div class="card row margin-top-2">
    <h5 class="center-align card-title">
      PAYMENTS
    </h5>
    <div class="row">
      <div class="col s3" style="margin-top: 1.75%;">
        <select materialize="material_select" [value]="cashPayment.personType" (change)="setPersonType($event)">
          <option value="" disabled selected>Person Type </option>
          <option value="customer">Customer</option>
          <option value="supplier">Supplier</option>
        </select>
      </div>
      <div class="input-field col s4">
        <input id="name" *ngIf="!cashPayment.code" autocomplete="off" type="text" [value]="cashPayment.name"
          (keydown.enter)="viewAll()">
        <input readonly id="name" style="width:90% !important" *ngIf="cashPayment.code" autocomplete="off" type="text"
          [value]="cashPayment.name">
        <label for="name" [ngClass]="{'actives': cashPayment.name != null}">Name</label>
        <span style="width:10%" *ngIf="cashPayment.code"><i class="material-icons gray pointer"
            (click)="clearCustomerDetails()">close</i></span>
      </div>
      <div class="input-field col s2">
        <input readonly id="personAmt" autocomplete="off" type="text" [value]="cashPayment.personAmt">
        <label for="personAmt" [ngClass]="{'actives': cashPayment.personAmt != null}">Amount</label>
      </div>
      <div class="input-field col s3">
        <input id="date" autocomplete="off" type="text" class="datepicker" materialize="pickadate"
          (input)="setDate($event)" [value]="cashPayment.date  | date:'dd/MM/yyyy'">
        <label for="date">Date</label>
      </div>
    </div>
    <div class="row">
      <div class="col s3" style="margin-top: 1.75%;">
        <select materialize="material_select" [value]="cashPayment.paymentType" (change)="setPaymentType($event)">
          <option value="" disabled selected>Payment Type </option>
          <option value="cash">Cash</option>
          <option value="cheque">Cheque</option>
        </select>
      </div>
      <div class="input-field col s6">
        <input id="note" autocomplete="off" type="text" [(ngModel)]="cashPayment.note">
        <label for="note">Notes</label>
      </div>
      <div class="input-field col s3">
        <input id="amt" autocomplete="off" type="text" (input)="checkNumberValue($event)" [value]="cashPayment.amount">
        <label for="amt">Amount</label>
      </div>
    </div>
    <div class="row">
      <div class="col s4 offset-s4">
        <div class="col s5 offset-s1">
          <div class="thickdarkbluebutton" tabindex="10" (click)="save()">Save</div>
        </div>
        <div class="col s5 offset-s1">
          <div tabindex="12" class="thickgreybluebutton " (click)="reset()">Reset</div>
        </div>
      </div>
    </div>
  </div>
</div>
<generic-lov></generic-lov>